.image-content-wrapper::-webkit-scrollbar {
    display: none;
}

.image-content-wrapper {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

figure.zoom {
    background-position: 50% 50%;
    position: relative;
    margin: 150px auto;
    overflow: hidden;
    cursor: zoom-in;
}
figure.zoom img:hover {
    opacity: 0;
}
figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
}