{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
<style>
.modal-box::-webkit-scrollbar {
    width: 2px;
}
.modal-box::-webkit-scrollbar-track {
    background: #1d232a00; 
}
</style>
{% endblock %}

{% block content %}
<dialog id="who_is_me" class="modal">
  <div class="modal-box text-sm">
    {{ help_icon_content|safe }}
    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-sm">Close</button>
      </form>
    </div>
  </div>
</dialog>
<div class="py-4 md:py-8 mx-auto text-center">
    <div class="font-semibold italic mb-4 text-2xl">
        kent john photography
    </div>
    <div class="mb-3">
        <button onclick="who_is_me.showModal()"><i class="mx-auto" data-feather="help-circle"></i></button>
    </div>
    <div>
        <a href="?category=all" class="btn btn-sm text-sm m-1 {% if selected_category == 'all' %}btn-active{% else %}btn-neutral{% endif %}">All</a>
        {% for category in categories %}
            <a href="?category={{ category.name }}" class="btn btn-sm text-sm m-1 {% if selected_category == category.name %}btn-active{% else %}btn-neutral{% endif %}">{{ category.name }}</a>
        {% endfor %}
    </div>    
</div>
<div class="masonry md:columns-4 columns-2 gap-4">
    {% for img in images %}
    <div class="mb-4 cursor-pointer">
        <img class="h-auto max-w-full image-preview" src="{{ img.thumbnail.url }}" alt="{{ img.title }}" data-image-id="{{ img.id }}">
    </div>
    {% endfor %}    
</div>
<dialog id="image-preview-modal" class="modal fixed inset-0 bg-[#121212] z-50 flex justify-center items-center p-4">
    <form method="dialog">
        <button class="btn btn-sm btn-circle absolute right-2 top-2 text-white">✕</button>
    </form>
    <button class="bg-[#121212] rounded-md prev-button absolute left-10 lg:top-1/2 md:top-1/2 top-[82%] transform -translate-y-1/2 font-bold text-lg text-white p-2"><i data-feather="arrow-left"></i></button>
    <button class="bg-[#121212] rounded-md next-button absolute right-10 lg:top-1/2 md:top-1/2 top-[82%] transform -translate-y-1/2 font-bold text-lg text-white p-2"><i data-feather="arrow-right"></i></button>

    <div class="absolute bottom-2 left-2">
        <h3 class="text-sm font-medium italic image-title"></h3>
    </div>
    
    <div class="flex justify-center items-center w-full p-5 overflow-auto">
        <div class="image-content flex justify-center items-center w-full">
            <!-- Image will be dynamically inserted here -->
        </div>
    </div>
</dialog>

{% endblock %}

{% block scripts %}
<script>
    var ids = {{ image_ids | safe }};
    var currentImageID = -1;
    var canClickButtons = true;

    $(document).on('click', '.image-preview', function() {
        var image_id = $(this).data('image-id');
        currentImageID = image_id;
        showImage(currentImageID);
    });

    function showImage(image_id) {
        var previewModal = document.getElementById('image-preview-modal');

        $('.image-content').html('<span class="loading loading-ring loading-lg"></span>');

        $.ajax({
            url: "{% url 'get-image-preview' %}",
            type: "GET",
            data: { 'image_id': image_id },
            success: function(response) {
                if(response.success) {
                    $('.image-title').text(response.image_title);

                    var img = $('<img src="' + response.image_url + '" class="h-screen object-contain mx-auto">');

                    img.on('load', function() {
                        setTimeout(function() {
                            $('.image-content').html(img);
                        }, 500);
                    });

                    previewModal.showModal();
                } else {
                    console.log('Error: ' + response.error);
                }
            },
            error: function(error) {
                console.log('AJAX error: ', error);
            }
        });
    }
    function getNextImageId() {
        var currentIndex = ids.indexOf(parseInt(currentImageID));
        if (currentIndex !== -1) {
            var nextIndex = (currentIndex + 1) % ids.length;
            return ids[nextIndex];
        }
        return null;
    }

    function getPrevImageId() {
        var currentIndex = ids.indexOf(parseInt(currentImageID));
        if (currentIndex !== -1) {
            var prevIndex = (currentIndex - 1 + ids.length) % ids.length;
            return ids[prevIndex];
        }
        return null;
    }

    function navigateImage(direction) {
        if (canClickButtons) {
            var imageId = direction === 'next' ? getNextImageId() : getPrevImageId();
            if(imageId !== null) {
                currentImageID = imageId;
                showImage(imageId);
                disableButtonsTemporarily();
            }
        }
    }

    $(document).on('click', '.next-button', function() {
        navigateImage('next');
    });

    $(document).on('click', '.prev-button', function() {
        navigateImage('prev');
    });


    $(document).keydown(function(e) {
        if (e.keyCode === 39) {
            navigateImage('next');
        }
        if (e.keyCode === 37) { // 
            navigateImage('prev');
        }
    });

    function disableButtonsTemporarily() {
        canClickButtons = false; 
        $('.next-button, .prev-button').prop('disabled', true); 
        setTimeout(function() {
            canClickButtons = true;
            $('.next-button, .prev-button').prop('disabled', false);
        }, 1000);
    }
</script>


{% endblock %}