{% extends 'base.html' %}

{% load static %}

{% block title %}Zin Photos | Home{% endblock %}

{% block styles %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2932799223671964"
     crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
    @font-face {
        font-family: photograph;
        src: url("{% static 'fonts/Photograph.ttf' %}");
    }

    #main-logo{
        font-family: photograph !important;
    }
</style>
{% endblock %}

{% block content %}
<dialog id="who_is_me" class="modal">
  <div class="modal-box text-sm">
    {{ help_icon_content|safe }}
    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-sm">Close</button>
      </form>
    </div>
  </div>
</dialog>
<div class="py-4 md:py-8 mx-auto text-center">
    <div class="mb-5 text-6xl mt-5 text-[orange] cursor-default" id="main-logo">
        Zin Photos
    </div>
    <div class="mb-4">
        <button onclick="who_is_me.showModal()">❓</button>
    </div>
    <div class="join">
        <a href="?category=all" class="join-item btn btn-sm no-animation text-sm {% if selected_category == 'all' %}btn-active{% else %}btn-neutral{% endif %}">All</a>
        {% for category in categories %}
            <a href="?category={{ category.name }}" class="join-item btn btn-sm no-animation text-sm {% if selected_category == category.name %}btn-active{% else %}btn-neutral{% endif %}">{{ category.name }}</a>
        {% endfor %}
    </div>    
</div>

{% if image_ids|length > 0 %}
               <ins class="adsbygoogle h-auto max-w-full shadow-lg"
                    style="display:block"
                    data-ad-client="ca-pub-2932799223671964"
                    data-ad-slot="9226818360"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins> 

<div class="grid grid-cols-2 md:grid-cols-4 gap-4" id="skeleton-wrap"> 
    <div>
        <div class="skeleton w-auto h-[615px] rounded-none"></div>
    </div>
    <div>
        <div class="skeleton w-auto h-[299px] rounded-none mb-4"></div>
        <div class="skeleton w-auto h-[299px] rounded-none"></div>
    </div>
    <div>
        <div class="skeleton w-auto h-[615px] rounded-none"></div>
    </div>
    <div>
        <div class="skeleton w-auto h-[299px] rounded-none mb-4"></div>
        <div class="skeleton w-auto h-[299px] rounded-none"></div>
    </div>
</div>
<div class="grid grid-cols-2 md:grid-cols-{{ grid_columns }} gap-4">
    {% for column in columns %}
    <div>
        {% for img in column %}
        <div class="cursor-pointer mb-3 tooltip" {% if img.video %}data-tip="{{ img.title }}"{% endif %}>
            {% if img.image %}
            <img class="h-auto max-w-full shadow-lg hidden" src="{{ img.thumbnail.url }}" alt="{{ img.title }}" id="img-{{ img.id }}">
            <div data-image-id="{{ img.id }}" class="image-preview absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,99%,0.1)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"></div>
            {% else %}
            <video class="h-auto max-w-full shadow-lg hidden" onloadstart="this.volume=0.8" controlsList="nodownload" poster="{{ img.video_thumbnail.url }}" controls>
                <source src="{{ img.video.url }}" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
{% if image_ids|length == 0 %}
<div class="text-center">
    <span class="font-semibold text-sm text-[orange] italic">It's empty in here...</span> 💨
</div>
{% endif %}
{% if paginator.page_range|length > 1 %}
<div class="w-full text-center">
    <span class="text-sm font-semibold text-[orange] italic">Load More</span>
</div>
{% endif %}
{% if paginator.page_range|length > 1 %}
<div id="paginationControls" class="rounded-md fixed bottom-[30px] left-0 right-0 text-center" style="transform: translateX(-50%); left: 50%;">
    <div class="join inline-block shadow-lg ">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn btn-sm">«</a>
        {% else %}
            <button class="join-item btn btn-sm" disabled>«</button>
        {% endif %}

        <a href="?page=1" class="join-item btn btn-sm {% if page_obj.number == 1 %}btn-active{% endif %}">1</a>
        
        {% if page_obj.number > 4 %}
            <button class="join-item btn btn-disabled btn-sm">...</button>
        {% endif %}

        {% if page_obj.number > 3 %}
            <a href="?page={{ page_obj.number|add:'-2' }}" class="join-item btn btn-sm">{{ page_obj.number|add:'-2' }}</a>
        {% endif %}
        {% if page_obj.number > 2 %}
            <a href="?page={{ page_obj.number|add:'-1' }}" class="join-item btn btn-sm">{{ page_obj.number|add:'-1' }}</a>
        {% endif %}

        {% if page_obj.number != 1 and page_obj.number != page_obj.paginator.num_pages %}
            <button class="join-item btn btn-sm btn-active">{{ page_obj.number }}</button>
        {% endif %}

        {% if page_obj.number < page_obj.paginator.num_pages|add:'-1' %}
            <a href="?page={{ page_obj.number|add:'1' }}" class="join-item btn btn-sm">{{ page_obj.number|add:'1' }}</a>
        {% endif %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <a href="?page={{ page_obj.number|add:'2' }}" class="join-item btn btn-sm">{{ page_obj.number|add:'2' }}</a>
        {% endif %}

        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
            <button class="join-item btn btn-disabled btn-sm">...</button>
        {% endif %}

        <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn btn-sm {% if page_obj.number == page_obj.paginator.num_pages %}btn-active{% endif %}">{{ page_obj.paginator.num_pages }}</a>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="join-item btn btn-sm">»</a>
        {% else %}
            <button class="join-item btn btn-sm" disabled>»</button>
        {% endif %}
    </div>
</div>

<button id="togglePagination" class="rounded-md fixed bottom-[5px] left-0 right-0 text-center" style="transform: translateX(-50%); left: 50%;">
    <span id="arrowIcon">▼</span>
</button>
<script>
    document.getElementById('togglePagination').addEventListener('click', function() {
        var paginationControls = document.getElementById('paginationControls');
        var arrowIcon = document.getElementById('arrowIcon');
        if (paginationControls.style.display === 'none') {
            paginationControls.style.display = 'block';
            arrowIcon.textContent = '▼';
        } else {
            paginationControls.style.display = 'none';
            arrowIcon.textContent = '▲';
        }
    });
</script>
{% endif %}

<dialog id="image-preview-modal" class="modal fixed inset-0 bg-[#121212] z-50 flex justify-center items-center p-4">
    <form method="dialog">
        <button class="btn btn-sm btn-circle absolute right-2 top-2 text-white z-50">✕</button>
    </form>
    <button class="bg-[#121212] rounded-md prev-button absolute left-10 lg:top-1/2 md:top-1/2 top-[82%] transform -translate-y-1/2 font-bold text-lg text-white p-2"><i data-feather="arrow-left"></i></button>
    <button class="bg-[#121212] rounded-md next-button absolute right-10 lg:top-1/2 md:top-1/2 top-[82%] transform -translate-y-1/2 font-bold text-lg text-white p-2"><i data-feather="arrow-right"></i></button>

    <div class="absolute bottom-2 left-2 drop-shadow-2xl z-50">
        <span class="text-xs image-title cursor-default text-[orange] font-bold"></span>
    </div>
    
    <div class="image-content-wrapper flex justify-center items-center w-full p-5 overflow-auto" id="image-content-wrapper">
        <div class="image-content flex justify-center items-center w-full" id="image-content">
            <!-- Image will be dynamically inserted here -->
        </div>
    </div>
</dialog>

{% endblock %}

{% block scripts %}
<script>
    var ids = {{ image_ids | safe }};
    var previewImageUrl = "{% url 'get-image-preview' %}";
</script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
