{% extends 'base.html' %}

{% load static %}

{% block title %}Ipon | Privacy Policy{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="text-md text-white p-5 leading-loose">
    <p class="font-bold mt-5 text-[orange]">Privacy Policy for Ipon</p>
    <p class="text-sm italic">Last updated: March 1, 2024</p>
    <p>Thank you for choosing <span class="text-[#4CAF50] font-bold">Ipon</span> ("we", "us", or "our"). Developed by <span class="text-[orange] font-bold">Kent J.</span>, the <span class="text-[#4CAF50] font-bold">Ipon</span> mobile application (the "Service") respects your privacy and is committed to protecting it through our compliance with this policy.</p>
    <p>This policy describes our practices regarding the collection, use, and disclosure of information when you use our Service and the choices you have associated with that information.</p>
    <p><span class="font-bold italic">The Service does not collect any personal data from its users directly. However, it requires internet access for displaying ads.</span></p>
    <p class="font-bold mt-2 text-[orange]">Information We Do Not Collect</p>
    <p>The Service does not collect any personal information from its users. Users can access and use the Service without providing us with personal data.</p>
    <p class="font-bold mt-2 text-[orange]">Advertisements</p>
    <p>To support our Service, we display advertisements within our app through third-party advertising partners.<br>These partners may collect your IP address, device ID, and other information about your device through cookies or similar technologies to personalize the advertising content.<br>Please note that our Privacy Policy does not cover the collection and use of information by these third-party advertisers.</p>
    <p class="font-bold mt-2 text-[orange]">Changes to This Privacy Policy</p>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.<br>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    <p class="font-bold mt-2 text-[orange]">Contact Us
    <p>If you have any questions about this Privacy Policy, please contact us.</p>
    <p>kentjdev@gmail.com</p>
    <p class="font-bold mt-5 text-[orange]">Purpose of This Section</p>
    <p>As a developer committed to ensuring compliance with industry standards and regulatory requirements, I am obliged to draft and publicly host a privacy policy for my mobile applications.<br>This necessity stems from the policies of major distribution platforms such as the Google Play Store and Apple App Store.<br>The inclusion of this privacy policy on my website serves to fulfill these obligations and provide transparency to users about their data's handling.</p>
    <p class="italic text-[orange]"><a href="{% url 'home' %}">Click here to visit this website's content</a></p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}