{% extends 'base.html' %}

{% load static %}

{% block title %}Image Viewer for S3 | Privacy Policy{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="text-md text-white p-5 leading-loose">
    <p class="font-bold mt-5 text-[orange]">Privacy Policy for Image Viewer for S3</p>
    <p class="text-sm italic">Last updated: March 3, 2024</p>
    <p>Thank you for choosing <span class="text-[orange] font-bold">Image Viewer for S3</span> ("we", "us", or "our"). 
        <br>Developed by <span class="text-[orange] font-bold">Kent J.</span>, the <span class="text-[orange] font-bold">Image Viewer for S3</span> mobile application (the "Service") is designed to facilitate the viewing and management of images stored in AWS S3 buckets.
        <br>We are committed to protecting your privacy and handling your information responsibly while you use our Service.</p>
    <p>This policy outlines our practices regarding the collection, use, and disclosure of information when you use our Service and the choices you have associated with that information.</p>
    <p class="font-bold mt-2 text-[orange]">Information We Do Not Collect</p>
    <p>The Service is designed to operate without directly collecting any personal data from its users. Users can access and utilize the Service without providing us with personal information.</p>
    
    <p class="font-bold mt-2 text-[orange]">AWS Credentials</p>
    <p>To access and manage your AWS S3 buckets, the Service requires you to input your AWS credentials. These credentials are stored securely on your device using encrypted storage mechanisms.</p>
    <p>We assure you that your AWS credentials are not sent over the internet by our Service. They are used exclusively within the app to authenticate and interact with AWS services directly from your device.</p>
    <p>User discretion is advised when using the Service to delete images or content within your AWS S3 buckets. We encourage you to double-check before deleting any items, as this action is irreversible.</p>
    
    <p class="font-bold mt-2 text-[orange]">Internet Requirement</p>
    <p>The Service requires internet access to:</p>
    <p>Retrieve images from your AWS S3 buckets.</p>
    <p>Display advertisements within our app through third-party advertising partners.</p>

    <p class="font-bold mt-2 text-[orange]">Advertisements</p>
    <p>To support our Service, we display advertisements within our app through third-party advertising partners. 
        <br>These partners may collect non-personal information such as your IP address and device ID through cookies or similar technologies to personalize the advertising content. 
        <br>Our Privacy Policy does not cover the collection and use of information by these third-party advertisers.</p>
    
    <p class="font-bold mt-2 text-[orange]">Changes to This Privacy Policy</p>
    <p>We reserve the right to update our Privacy Policy as necessary. Any changes will be communicated by posting the updated policy on this page. 
        <br>We encourage you to review our Privacy Policy periodically to stay informed about how we protect the information we collect. 
        <br>Continued use of the Service after any changes to the privacy policy will constitute your consent to such changes.</p>
    
    <p class="font-bold mt-2 text-[orange]">Contact Us
    <p>If you have any questions about this Privacy Policy, please contact us.</p>
    <p>kentjdev@gmail.com</p>
    
    <p class="font-bold mt-5 text-[orange]">Purpose of This Section</p>
    <p>As a developer committed to ensuring compliance with industry standards and regulatory requirements, I am obliged to draft and publicly host a privacy policy for my mobile applications.<br>This necessity stems from the policies of major distribution platforms such as the Google Play Store and Apple App Store.<br>The inclusion of this privacy policy on my website serves to fulfill these obligations and provide transparency to users about their data's handling.</p>
    <p class="italic text-[orange]"><a href="{% url 'home' %}">Click here to visit this website's content</a></p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}